@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3C9054;
  --foreground: #171717;
  --primary-bg-color: #f8f9fa;
  --primary-text-color: #333333;
  --primary-button-color: #38a169; 
  --primary-button-hover-color: #2f855a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #307343;
  color: var(--primary-text-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
}