@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3C9054; /* Sea green */
  --foreground: #171717; /* Eerie black */
  --primary-bg-color: #f8f9fa; /* Sea salt white */
  --primary-text-color: #333333; /* Jet gray */
  --primary-button-color: #38a169; /* Shamrock green */
  --primary-button-hover-color: #2f855a; /* Sea green */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #307343;
  color: var(--primary-text-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
}