/************************
        GENERAL CSS
************************/
:root {
    --valentines-bg: #C21911;
    --valentines-text: #FFF;
    --valentines-button-bg: #DC362C;
    --valentines-button-hover: #8F0600;
    --valentines-font: 'Helvetica', Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.gif-container {
    width: 280px;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valentines-page {
    background-color: var(--valentines-bg);
    color: var(--valentines-text);
    font-family: var(--valentines-font);
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-page-input-box {
    color: #C21911;
}

/************************
        CARDS
************************/

/* GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin-bottom: 2rem;
}

/* GRID */
@media (max-width: 1400px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* GRID */
@media (max-width: 1000px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

.card-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--valentines-bg);
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
}

/* Hides the checkbox for the cards selection page */
.card-selection input {
    display: none;
    margin: 0rem 0.5rem 0.5rem 0.5rem
}

.card-selection:hover {
    transform: scale(1.05);
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-selection.selected {
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* The red text show on top and bottom sides of each card */
.card-text {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* The image shown in the middle */
.card-image {
    width: 250px;
    height: 125px;
    margin-bottom: 0.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}

/************************
    IMAGES IN THE CARDS
************************/

.card-image-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-container img {
    object-fit: cover;
    object-position: center;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
} 

/************************
        BUTTONS
************************/

.valentines-page-button {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 25px;
    width: 12rem;
    margin: 0 10px 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
}

.valentines-page-button:hover {
    background-color: #FFF;
    transform: scale(1.1);
}

.next-button {
    color: var(--valentines-bg);
}

.back-button {
    color: #4A4547;
}