@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root {
    --valentines-bg: #C21911;
    --valentines-text: #FFF;
    --valentines-button-bg: #DC362C;
    --valentines-button-hover: #8F0600;
    --valentines-font: 'Helvetica', Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.valentines-page {
    background-color: var(--valentines-bg);
    color: var(--valentines-text);
    font-family: var(--valentines-font);
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .checkbox-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .checkbox-container {
        grid-template-columns: 1fr;
    }
}

.checkbox-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-option input {
    margin-bottom: 0.5rem;
    transform: scale(1.5);
}

.checkbox-image {
    width: 300px;
    height: 300px;
    margin-bottom: 0.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.checkbox-option:hover .checkbox-image {
    transform: scale(0.95);
}

.checkbox-option input {
    margin-left: 0.5rem;
}

.checkbox-option input {
    margin-right: 0.5rem; 
}

.valentines-input-box {
    color: #C21911;
}

.valentines-header {
    text-color: #fff;
}

.valentines-button {
    background-color: #FFF;
    color: var(--valentines-bg);
    padding: 1rem;
    border-radius: 25px;
    width: 12rem;
    margin: 0 10px 0 10px;
    
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
}

.valentines-button:hover {
    background-color: #FFF;
    transform: scale(1.1);
}

.back-button {
    background-color: #FFF;
    color: #4A4547;
    padding: 1rem;
    border-radius: 25px;
    width: 12rem;
    margin: 0 10px 0 10px;

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
}

.back-button:hover {
    background-color: #FFF;
    transform: scale(1.1);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
} 

.falling-rose {
    position: absolute;
    top: -10px;
    width: 50px;
    height: 50px;
    opacity: 1;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
